.form-box {
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: auto;
  margin-top: 5%;
}
.container .mat-form-field + .mat-form-field {
  margin-left: 10px;
}
.container {
  align-items: center;
  background-color: lightgrey;
  border-style: solid;
  border-width: thick;
  border-color: #673ab7;
}
.double {
  width: 48.75%;
}
.single {
  width: 100%;
}
.form {
  margin-top: 5%;
  margin-bottom: 2%;
}

.submit {
  width: 20%;
  height: 3rem;
  line-height: 50px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: slateblue;
}
.submit:hover:enabled {
  box-shadow: 0 0 11px rgba(0, 0, 0, 1);
  background-color: blueviolet;
}
.submit:disabled {
  background-color: darkgray;
}
